<div class="contenido">
    <div class="margin-up-down">
        <h1>Cotización</h1>
    </div>

    <div class="stepper">
        <mat-horizontal-stepper #stepper [linear]="false">
            <mat-step [stepControl]="formPersonalData">
                <form [formGroup]="formPersonalData" class="datosPersonales">
                    <ng-template matStepLabel>Escribe tus datos</ng-template>
                    <div class="row margin-down">
                        <div class="col-md-3">
                            <mat-form-field class="mat-full-width">
                                <mat-label>Nombre</mat-label>
                                <input matInput placeholder="Nombre" formControlName="nombre" required>
                                <mat-error *ngIf="nombreCtrl.hasError('required')">
                                    El nombre es obligatorio
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-3">
                            <mat-form-field class="mat-full-width">
                                <mat-label>Apellido Paterno</mat-label>
                                <input matInput placeholder="Apellido Paterno" formControlName="apellidoPaterno"
                                    required>
                                <mat-error *ngIf="apellidoPaternoCtrl.hasError('required')">
                                    El apellido paterno es obligatorio
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-3">
                            <mat-form-field class="mat-full-width">
                                <mat-label>Apellido Materno</mat-label>
                                <input matInput placeholder="Apellido Materno" formControlName="apellidoMaterno">
                            </mat-form-field>
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                    <div class="row margin-down">
                        <div class="col-md-3">
                            <mat-form-field class="mat-full-width" appearance="fill">
                                <mat-label>Sexo</mat-label>
                                <mat-select formControlName="sexo" required>
                                    <mat-option *ngFor="let sex of sexo" [value]="sex.value">
                                        {{sex.viewValue}}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="sexoCtrl.hasError('required')">
                                    El sexo es obligatorio
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row margin-down">
                        <div class="col-md-3">
                            <mat-form-field class="mat-full-width" appearance="fill">
                                <mat-label>Fecha de nacimiento</mat-label>
                                <input matInput [matDatepicker]="picker" formControlName="fechaNacimiento" required>
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                                <mat-error *ngIf="fechaNacimientoCtrl.hasError('required')">
                                    La fecha de nacimiento es obligatorio
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="float-right">
                        <small>Los campos marcados con <b>*</b> son obligatorios</small>
                    </div>
                    <div>
                        <button mat-button matStepperNext>Siguiente</button>
                    </div>
                </form>
            </mat-step>
            <mat-step>
                <ng-template matStepLabel>Selecciona los examenes</ng-template>
                <div class="row mat-full-width">
                    <div class="col-md-9">
                        <div class="row margin-right margin-down">
                            <form class="mat-full-width margin-right">
                                <mat-form-field class="mat-full-width">
                                    <input type="text" placeholder="Selecciona el examen" aria-label="Number" matInput
                                        [formControl]="controExamenGeneral" [matAutocomplete]="auto">
                                    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete"
                                        (optionSelected)="obtenerExamenGeneral($event.option.value)">
                                        <mat-option *ngFor="let optionGen of filteredOptionsGeneral | async"
                                            [value]="optionGen">
                                            {{optionGen}}
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                            </form>
                        </div>
                        <div class="row margin-down margin-right" *ngFor="let examen of ExamenGeneralSeleccionado">
                            <mat-card class="mat-full-width">
                                <div class="row">
                                    <button class="boton" (click)="removerExamenGeneral(examen.ID)">
                                        <mat-icon>remove</mat-icon>
                                    </button>
                                    <div class="col">{{examen.NOMBRE}}</div>
                                    <div class="col d-flex justify-content-end">Precio: $ {{examen.PRECIO}}</div>
                                </div>
                                <div class="row" *ngIf="examen.DESCUENTO !== undefined && examen.DESCUENTO !== []">
                                    <small *ngFor="let descuento of examen.DESCUENTO" id="emailHelp"
                                        class="form-text text-muted">Examen con <b>{{descuento.PORCENTAJE}}%</b> de
                                        descuento por <b>{{descuento.NOMBRE}}</b> equivalente a <b>$
                                            {{descuento.DESCUENTO}} Pesos</b> menos al precio normal </small>
                                </div>
                            </mat-card>
                        </div>
                        <div class="row margin-up-down margin-right">
                            <div class="col d-flex justify-content-end">
                                Subtotal: $ {{subtotal}}
                            </div>
                        </div>
                        <div class="row margin-up-down margin-right">
                            <div class="col d-flex justify-content-end">
                                Descuentos: $ {{descuento}}
                            </div>
                        </div>
                        <div class="row margin-up-down margin-right">
                            <div class="col d-flex justify-content-end">
                                Total: $ {{total}}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 margin-up">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <button class="mat-full-width margin-down" mat-stroked-button color="primary">Volver
                                        a empezar</button>
                                </div>
                                <div class="row">
                                    <button class="mat-full-width margin-down" mat-stroked-button color="primary" matTooltip="Ahorra mas con un paquete de examenes" (click)="openDialog()">Ver
                                        paquetes</button>
                                </div>
                                <div class="row">
                                    <button class="mat-full-width margin-down" mat-stroked-button color="primary" matTooltip="Puedes llevar la cotización a nuestra sucursal"
                                        (click)="imprimir()" [useExistingCss]="true" sprintTitle="Cotizacion"
                                        printSectionId="impresion" ngxPrint>Imprimir</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div>
                    <button mat-button matStepperPrevious>Atras</button>
                    <!--<button mat-button matStepperNext>Siguiente</button>-->
                </div>
            </mat-step>
        </mat-horizontal-stepper>
    </div>
</div>

<!--INICIO DE ZONA DE IMPRESION-->
<div class="no-margin" style="font-size: 12pt;
font-family: Arial, Helvetica, sans-serif;
width: 22.5cm;
height: 1080px;
display: none;" id="impresion">
    <div class="width-100">
        <img class="header-image" src="../../../../assets/img/header.PNG" alt="header">
    </div>
    <div id="borderInforme">
        <div class="form-edit margin-left">
            <div class="row">
                <div class="col-md-2">
                    <div class="row">
                        Nombre:
                    </div>
                    <div class="row">
                        Edad:
                    </div>
                    <div class="row">
                        Sexo:
                    </div>
                    <div class="row">
                        Fecha cotizacion:
                    </div>
                </div>
                <div class="col-md-10">
                    <div class="row">
                        {{nombreCtrl.value}} {{apellidoPaternoCtrl.value}} {{apellidoMaternoCtrl.value}}
                    </div>
                    <div class="row">
                        {{calcularEdad(parsearFecha(fechaNacimientoCtrl.value))}}
                    </div>
                    <div class="row">
                        {{masculinoOfemenio(sexoCtrl.value)}}
                    </div>
                    <div class="row">
                        {{getToday()}} {{getHour()}}
                    </div>
                </div>
            </div>
        </div>
        <div class="form-edit">
            <div id="title-resultado" class="text-center bold">
                <p>RESUMEN</p>
            </div>
        </div>
        <div class="form-edit">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Examen</th>
                        <th scope="col">Precio</th>
                        <th scope="col"> % Descuento</th>
                        <th scope="col">Precio con descuento</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let examen of ExamenGeneralSeleccionado">
                        <td>{{examen.NOMBRE}}</td>
                        <td>$ {{examen.PRECIO}}</td>
                        <ng-template [ngIf]="examen.DESCUENTO[0] !== undefined && examen.DESCUENTO !== []">
                            <td>{{examen.DESCUENTO[0].PORCENTAJE}} % {{examen.DESCUENTO[0].NOMBRE}}</td>
                        </ng-template>
                        <ng-template [ngIf]="examen.DESCUENTO[0] === undefined">
                            <td> 0 </td>
                        </ng-template>
                        <td>$ {{examen.PRECIO_REAL}}</td>
                    </tr>
                </tbody>
            </table>
            <div class="footer">
                <div class="row margin margin-right">
                    <div class="col d-flex justify-content-end">
                        Subtotal: $ {{subtotal}}
                    </div>
                </div>
                <div class="row margin-right">
                    <div class="col d-flex justify-content-end">
                        Descuentos: $ {{descuento}}
                    </div>
                </div>
                <div class="row margin-right">
                    <div class="col d-flex justify-content-end">
                        Total: $ {{total}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--FIN DE ZONA DE IMPRESION-->